<div class="container">
    <p>Nuevo Mensaje</p>

    <div class="row">
        <div class="col-sm-6">
            <form>
                <label class="form-label">Seleccione Destinatario</label>
                <select [(ngModel)]="destinatario" name="destinatario">
                    <!-- <option>{{usuarios.UsuarioDestinatario}}</option> -->
                    <option onchange="enviar_valores(this.value)" id="NombreDestinatario" *ngFor="let usuarios of ListaUsuarios" value="{{usuarios.IdUsuario}}" >{{usuarios.NombreUsuario}}</option>
                </select>
                <button class="bt btn-primary" (click)="agregarDestinatario()">Agregar</button>
                <br>
                <br>
                <label class="form-label">Destinatarios:</label>
                <input *ngFor="let destinatario of ListaDestinatarios"  type="text" class="form-control" name="nombre" disabled="false">
                <br>
                <br>
                <label class="form-label">Asunto</label>
                <input type="text" class="form-control" name="nombre">
                <br>
                <br>
                <label class="form-label">Mensaje</label>
                <input [(ngModel)]="memorando.mensaje" type="text" class="form-control" name="nombre">
                <br>
                <br>
                <button class="bt btn-primary" (click)="enviar()">Enviar</button>
            </form>
        </div>
</div>
