<div class="container mt-5">
   <h1 class="text-center">Listado de mensajes</h1>
    <table class="table table-striped table-hover table-sm mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Detalle</th>
            <th scope="col">Remitente</th>
            <th scope="col">Destinatario</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Fecha de Envio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let memorando of ListaMemorandos">
            <th>{{memorando.Id}}</th>
            <td>{{memorando.IdDetalle}}</td>
            <td>{{memorando.UsuarioRemitente}}</td>
            <td>{{memorando.UsuarioDestinatario}}</td>
            <td>{{memorando.Mensaje}}</td>
            <td>{{memorando.FechaEnvio}}</td>
          </tr>
        </tbody>
    </table>
    <input type="button" (click)="prueba()">
</div>
