<div class="container mt-5">
   <h1 class="text-center">Listado de mensajes</h1>
    <table class="table table-striped table-hover table-sm mt-5">
        <thead>
          <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Bandeja</th>
            <th scope="col">Remitente</th>
            <th scope="col">Destinatarios</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Fecha de Envio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let memorando of ListaMemorandos">
            <!-- <th>{{memorando.Id}}</th>
            <td>{{memorando.IdDetalle}}</td> -->
            <td>{{memorando._tipo}}</td>
            <td>{{memorando._remitente}}</td>
            <td>{{memorando._destinatario}}</td>
            <td>{{memorando._mensaje}}</td>
            <td>{{memorando._fechaenvio.getFullYear() + "/" + (memorando._fechaenvio.getMonth()+1) + "/" + memorando._fechaenvio.getDate()}}</td>
          </tr>
        </tbody>
    </table>
</div>
