<div class="container col-4 offset-4 mt-5 p-4 border">

    <form>
        <div class="mb-3">
          <label for="usuario" class="form-label fw-bold fs-5">Nombre de Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="nuevo_usuario"  aria-describedby="emailHelp" [(ngModel)]='nuevo_usuario'>
        </div>
        <div class="mb-3">
            <label for="usuario" class="form-label fw-bold fs-5">País</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="pais"  aria-describedby="emailHelp" [(ngModel)]='pais'>
          </div>
          <div class="mb-3">
            <label for="usuario" class="form-label fw-bold fs-5">Ciudad</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="ciudad"  aria-describedby="emailHelp" [(ngModel)]='ciudad'>
          </div>
        <div class="mb-3">
          <label for="pass" class="form-label fw-bold fs-5">Contraseña elegida</label>
          <input type="password" class="form-control" id="pass" name= "nueva_pass" [(ngModel)]='nueva_pass'>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label fw-bold fs-5">Confirmar contraseña</label>
            <input type="password" class="form-control" id="pass" name= "confirma_pass" [(ngModel)]='confirma_pass'>
          </div>
        <div class="mb-3 pt-1 d-grid gap-2">
        <button type="submit" class="btn btn-primary fs-4">Registrar</button>
    </div>
      </form>

</div>
